.question {
        background-color: aqua!important;
            width: 50%;
    padding: 10px;
    margin: 20px;
}

.option-div {
    background-color: #f2d0d0!important;
    width: 50%;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}