<div class="chatbot-box-main" *ngFor="let item of dataPiece; let accountIndex=index">
    <h3>Account Number: {{item.Account_No}}</h3>
    <div class="chatbot-box" *ngFor="let chat of item.chatbot; let chatIndex = index">
        <div class="sender-msg" *ngIf="chat.sender == 'CAM'">
            <div class="msg-block">
                <p class="msg-header">
                    <b class="bold">Cam</b> <span class="date-time">05/29/20, 6:13 PM</span>
                </p>
                <div class="msg-body">
                    {{chat.message}}
                </div>

                <div>
                    <div class="msg-body" *ngFor="let option of chat.options; let optionIndex=index">
                        <div (click)="onOptionClick(option, chat.parent_id, accountIndex, chatIndex)">
                            {{optionIndex+1}}: {{option.option}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-msg" *ngIf="chat.sender == 'YOU'">
            <div class="msg-block">
                <p class="msg-header">
                    <b class="bold">Customer</b> <span class="date-time">05/29/20, 6:13 PM</span>
                </p>
                <div class="msg-body">
                    {{chat.message}}
                </div>
            </div>
        </div>
    </div>
    <div class="chatbox-enter-text">
        <button class="btn left btn-dark btn-icon text-uppercase">Prev</button>
        <input type="text" class="form-control" [(ngModel)]="item.Note" placeholder="Type a Message">
        <button class="btn btn-dark btn-save text-uppercase" (click)="saveNote(accountIndex, item.Note)">save</button>
        <button class="btn right btn-dark btn-icon text-uppercase">Next</button>
    </div>
</div>